
footer{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6) !important;


}


i {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) !important;
    transform: perspective(1px) translateZ(0);
  }

 